HOST_IP=192.168.x.x

POSTGRES_DB=qrattendance
POSTGRES_USER=qruser
POSTGRES_PASSWORD=
KEYCLOAK_DB=

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=qr-attendance
KEYCLOAK_CLIENT_ID=qr-attendance-app

STUDENT_EMAIL_DOMAIN=student.etf.unibl.org
EMPLOYEE_EMAIL_DOMAIN=etf.unibl.org
QR_REFRESH_INTERVAL=30000
QR_SECRET=
ATTENDANCE_THRESHOLD=70.0