# Adresa preko koje se pristupa aplikaciji (localhost ili IP racunara u LAN-u)
HOST_IP=localhost

POSTGRES_DB=qrattendance
POSTGRES_USER=qruser
POSTGRES_PASSWORD=qrpassword123
KEYCLOAK_DB=keycloak

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_REALM=qr-attendance
KEYCLOAK_CLIENT_ID=qr-attendance-app

STUDENT_EMAIL_DOMAIN=student.etf.unibl.org
EMPLOYEE_EMAIL_DOMAIN=etf.unibl.org
# u milisekundama
QR_REFRESH_INTERVAL=30000
QR_SECRET=demo-qr-secret-promijeni-u-produkciji-0123456789abcdef
# u procentima
ATTENDANCE_THRESHOLD=70.0
