# Database
POSTGRES_DB=qrattendance
POSTGRES_USER=qruser
POSTGRES_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CLIENT_ID=qr-attendance-app
KEYCLOAK_REALM=qr-attendance
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_DB=keycloak

STUDENT_EMAIL_DOMAIN=
EMPLOYEE_EMAIL_DOMAIN=

QR_REFRESH_INTERVAL=